.md-typeset .admonition, 
.md-typeset details {
    /* font-size: inherit; */
    font-size: 0.75rem;
    /* font-style: italic; */
}

.md-typeset .admonition.quote {
    font-style: italic;
}

.md-typeset .admonition.quote ins {
    display: block;
    text-align: right;
    margin-top: 0.5em;
}

:root {
  /* --md-tooltip-width: 600px; */
  --md-admonition-icon--music: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M10 18V7c0-1.1.9-2 2-2h0c1.1 0 2 .9 2 2v8"/><path d="M14 15v-1c0-1.1.9-2 2-2h0c1.1 0 2 .9 2 2v1"/><path d="M18 15v-1c0-1.1.9-2 2-2h0c1.1 0 2 .9 2 2v1"/><path d="M22 15V9c0-1.1.9-2 2-2h0c1.1 0 2 .9 2 2v11"/><path d="M10 16v4.6l-1.5-1.8c-.8-.9-2.2-1-3.1-.1l0 0c-.8.8-.8 2-.1 2.9l3.2 3.6c1.6 1.9 4 2.9 6.4 2.9h2.5H18h.6c4.1 0 7.4-3.3 7.4-7.4V16"/></svg>');
}

.md-typeset .admonition.music,
.md-typeset details.music {
  border-color: rgb(194, 29, 29);
}
.md-typeset .music > .admonition-title,
.md-typeset .music > summary {
  background-color: rgba(194, 29, 29, 0.1);
}
.md-typeset .music > .admonition-title::before,
.md-typeset .music > summary::before {
  background-color: rgb(194, 29, 29);
  -webkit-mask-image: var(--md-admonition-icon--music);
          mask-image: var(--md-admonition-icon--music);
}
